main .card {
    background-color: #2b2b2b;
    color: white;
  }
  
  
  h3 {
    font-family: Times New Roman;
    font-weight: bold;
  }
  hr {
    border-bottom: solid white 1px;
  }
  
  
  input { 
    color: white !important;
  }
  
  ::placeholder {
    color: white !important;
  }
  